{% extends "main/base.html" %}
{% load static rest_framework %}

{% block styles %}
  <link rel="stylesheet" type="text/css" href="{% static 'plann/css/tasks.min.css' %}">
  <style type="text/css">
    .task-item {
      width: 20%;
      height: 200px;
      padding: 10px;
    }

    .task-item-inner {
      width: 100%;
      height: 100%;
      border-radius: 5%;
      background-color: #f9f4d3;
    }

    .task-item-inner-priority {
      --height-value: 10%;
      width: 100%;
      height: val(--height-value);
    }

    .task-item-inner-priority-value {
      width: val(--height-value);
      height: val(--height-value);
      background-color: red;
    }
  </style>
{% endblock %}

{% block title %}Tasks{% endblock %}

{% block content %}
  <div id="header"></div>

  <div class="task-item">
    <div class="task-item-inner">
      <div class="task-item-inner-priority">
        <div class="task-item-inner-priority-value">
        </div>
      </div>
    </div>
  </div>

  <div id="tasks-stack"></div>

  <div id="dialogs"></div>

  <div id="wait-screen"></div>
{% endblock %}

{% block scripts %}
  <script type="text/javascript">
    {% autoescape off %}
      const CHOISES = JSON.parse('{{ choices }}');
      const URLS = JSON.parse('{{ urls }}');
      const CREATE_TASK_RAW_FORM = `{% render_form create_task_serializer %}`;
      const TAGS = JSON.parse('{{ tags }}');
    {% endautoescape %}
  </script>
  <script src="{% static 'plann/js/tasks.min.js' %}"></script>
{% endblock %}
