{% extends "main/base.html" %}
{% load static %}

{% block styles %}
  <link rel="stylesheet" type="text/css" href="{% static 'plann/css/task.min.css' %}">
{% endblock %}

{% block title %}Task | {{ task_name }}{% endblock %}

{% block content %}
  <div id="app"></div>
{% endblock %}

{% block scripts %}
  <script type="text/javascript">
    {% autoescape off %}
      const CHOISES = JSON.parse('{{ choices }}');
      const TASK_DATA = JSON.parse(String.raw`{{ task_data }}`);
    {% endautoescape %}
  </script>
  <script src="{% static 'plann/js/task.min.js' %}"></script>
{% endblock %}
