{% extends "main/base.html" %}
{% load static rest_framework %}

{% block styles %}
  <link rel="stylesheet" type="text/css" href="{% static 'plann/css/base.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'plann/css/tasks.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'plann/css/dialog.min.css' %}">
{% endblock %}

{% block title %}Tasks{% endblock %}

{% block content %}
  <div id="tasks-stack">
    <div id="tasks-stack-header">
      <div class="tasks-stack-cell tasks-stack-cell-priority">
        <div class="tasks-stack-header-name">
          <div title="Priority">P</div>
          <div id="tasks-stack-filter-priority" class="tasks-stack-header-filter"></div>
        </div>
      </div>
      <div class="tasks-stack-cell tasks-stack-cell-meaning">Meaning</div>
      <div class="tasks-stack-cell tasks-stack-cell-status">
        <div class="tasks-stack-header-name">
          <div>Status</div>
          <div id="tasks-stack-filter-status" class="tasks-stack-header-filter"></div>
        </div>
      </div>
    </div>
    <div id="tasks-stack-items"></div>
  </div>

  <div id="tasks-creation">
    <div id="tasks-creation-header">
      <div>Create task</div>
    </div>
    <form id="task-creation-form">
      {% render_form create_task_serializer %}
      <div id="task-creation-form-button-box">
        <input id="task-creation-form-button" type="submit" value="Create">
      </div>
    </form>
  </div>

  <div id="change-status-dialog" class="dialog-window">
    <div class="dialog-window-content"></div>
  </div>

  <div id="filter-status-dialog" class="dialog-window">
    <div class="dialog-window-content"></div>
  </div>

  <div id="filter-priority-dialog" class="dialog-window">
    <div class="dialog-window-content"></div>
  </div>

  <div id="wait-screen"></div>
{% endblock %}

{% block scripts %}
  <script type="text/javascript">
    {% autoescape off %}
      const RAW_CHOISES = '{{ choices }}';
      const RAW_URLS = '{{ urls }}';
    {% endautoescape %}
  </script>
  <script src="{% static 'plann/js/tasks.min.js' %}"></script>
{% endblock %}
