{% extends "main/base.html" %}
{% load static rest_framework %}

{% block styles %}
  <link rel="stylesheet" type="text/css" href="{% static 'plann/css/tasks.min.css' %}">
{% endblock %}

{% block title %}Tasks{% endblock %}

{% block content %}
  <div id="app"></div>
{% endblock %}

{% block scripts %}
  <script type="text/javascript">
    {% autoescape off %}
      const CHOISES = JSON.parse('{{ choices }}');
      const URLS = JSON.parse('{{ urls }}');
      const CREATE_TASK_RAW_FORM = `{% render_form create_task_serializer %}`;
    {% endautoescape %}
  </script>
  <script src="{% static 'plann/js/tasks.min.js' %}"></script>
{% endblock %}
