{% extends "main/base.html" %}
{% load static %}

{% block styles %}
  <style type="text/css">
    .tasks-box-item {
      background-color: #ccc;
    }

    .tasks-box-item-value {
      width: 25%;
      display: inline-block;
    }
  </style>
{% endblock %}

{% block title %}Tasks{% endblock %}

{% block content %}
  <div id="tasks-box"></div>
{% endblock %}

{% block scripts %}
  <script type="text/javascript">
    {% autoescape off %}
      const RAW_CHOISES = '{{ choices }}';
    {% endautoescape %}
  </script>
  <script src="{% static 'plann/js/tasks.js' %}"></script>
{% endblock %}
