{% extends "main/base.html" %}
{% load static %}

{% block styles %}
  <style type="text/css">
    #scale-numbers {
      margin-bottom: -5px;
    }

    .scale-numbers-text {
      font-size: 13px;
    }
  </style>
{% endblock %}

{% block title %}Tasks{% endblock %}

{% block content %}
  <div id="tasks-box"></div>
  <div id="tasks-box2">
    <div>
      <svg id="scale-numbers" width="960" height="10"></svg>
      <canvas id="scale-linear" width="960" height="10"></canvas>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script src="{% static 'plann/js/tasks.js' %}"></script>
{% endblock %}
