{% extends "main/base.html" %}
{% load static %}

{% block styles %}
  <link rel="stylesheet" type="text/css" href="{% static 'plann/css/tasks.css' %}">
{% endblock %}

{% block title %}Tasks{% endblock %}

{% block content %}
  <div id="tasks-stack"></div>
{% endblock %}

{% block scripts %}
  <script type="text/javascript">
    {% autoescape off %}
      const RAW_CHOISES = '{{ choices }}';
    {% endautoescape %}
  </script>
  <script src="{% static 'plann/js/tasks.js' %}"></script>
{% endblock %}
