body {
  color: #333;
}


#tasks-stack-header {
  display: flex;
  box-sizing: border-box;
}
#tasks-stack-header > .tasks-stack-cell {
  padding: 5px 0px;
  text-align: center;
  background-color: #fff;
}


.tasks-stack-row {
  box-sizing: border-box;
}

.tasks-stack-cell {
  padding: 5px;
  display: inline-block;
  background-color: #F9F4D3;
  box-sizing: border-box;
  border: solid 0.5px #fff;
}

.tasks-stack-cell-meaning {
  width: 30%;
}
.tasks-stack-cell-meaning-wrapper {
  position: relative;
  width: max-content;
}
.tasks-stack-cell-meaning-name {
  width: max-content;
}
.tasks-stack-cell-meaning-description {
  width: 15px;
  height: 15px;
  background-color: #fff;
  position: absolute;
  top: -2px;
  right: -18px;
  border-radius: 50%;
  cursor: pointer;
  display: none;
}
.tasks-stack-cell-meaning-description.tasks-stack-cell-meaning-description-show {
  display: block;
}
.tasks-stack-cell-meaning-description > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -51%);
}

.tasks-stack-cell-priority {
  width: 25px;
}

.tasks-stack-cell-status {
  width: 10%;
}


.tasks-stack-cell-item-priority {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
}
.tasks-stack-cell-item-priority-0 {
  background-color: #ccc;
}
.tasks-stack-cell-item-priority-1 {
  background-color: #14b1ab;
}
.tasks-stack-cell-item-priority-2 {
  background-color: #f9d56e;
}
.tasks-stack-cell-item-priority-3 {
  background-color: #F49CA2;
}
.tasks-stack-cell-item-priority-4 {
  background-color: #E8505B;
}


.tasks-stack-cell-item-status, .change-status-dialog-item {
  padding: 0px 4px;
  border-radius: 4px;
  text-align: center;
  width: max-content;
  margin: auto;
  cursor: pointer;
}
.change-status-dialog-item {
  margin: 10px auto;
}
.tasks-stack-cell-item-status-ns, .change-status-dialog-item-ns {
  background-color: #ddd;
}
.tasks-stack-cell-item-status-ip, .change-status-dialog-item-ip {
  background-color: #f9d56e;
}
.tasks-stack-cell-item-status-cl, .change-status-dialog-item-cl {
  background-color: #F49CA2;
}
.tasks-stack-cell-item-status-dn, .change-status-dialog-item-dn {
  background-color: #6FD8D4;
}


#tasks-creation {
  position: fixed;
  top: 9px;
  right: 15px;
}

#tasks-creation-header > div {
  width: max-content;
  margin: auto;
  padding: 5px;
}

#task-creation-form {
  background-color: #f9f4d3;
  padding: 10px;
  border-radius: 4px;
}

.task-creation-item-label {
  display: inline-block;
  min-width: 110px;
}

#task-creation-form-name {
  width: 190px;
}

#task-creation-form-description {
  border-radius: 4px;
  width: 200px;
  height: 50px;
}

#task-creation-form-priority {
  width: 205px;
}

#task-creation-form-button-box {
  width: max-content;
  margin: auto;
  padding: 10px 5px 0px;
}

#task-creation-form-button {
  background-color: #f9d56e;
  border-style: unset;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
}
#task-creation-form-button:hover {
  background-color: #bba66d;
}

.form-group {
  padding: 5px 0;
}
