@import "../base/main";
@import "../../../base/less/base/main";


.task-meaning {
  border-bottom: 1px solid;
  margin-bottom: 1em;
}


.task-changeble-item {
  cursor: pointer;
  width: max-content;
  height: max-content;
  padding: 5px;

  &:hover {
    background-color: #colors[accent-yellow];
  }
}


.task-badge {
  width: max-content;
  height: max-content;
  border-radius: 1em;
  display: inline-block;
  padding: 1em;
  margin: 6px 0;
  cursor: pointer;

  &-priority {
    &-0 {
      background-color: #colors[accent-grey-lighter];
    }

    &-1 {
      background-color: #colors[accent-green-lighter];
    }

    &-2 {
      background-color: #colors[accent-yellow];
    }

    &-3 {
      background-color: #colors[accent-red-lighter];
    }

    &-4 {
      background-color: #colors[accent-red-light];
    }
  }

  &-status {
    &-0 {
      background-color: #colors[accent-red-lighter];
    }

    &-1 {
      background-color: #colors[accent-green-lighter];;
    }

    &-2 {
      background-color: #colors[accent-grey-lighter];
    }

    &-3 {
      background-color: #colors[accent-yellow];
    }
  }
}


.task-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;

  & > div {
    display: inline-grid;
    padding-left: 1em;
  }

  & > div:not(:first-child) {
    border-left: 1px solid;
  }
}
